In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/credit-card-customer-churn-prediction/Churn_Modelling.csv

In [2]:
df = pd.read_csv('/kaggle/input/credit-card-customer-churn-prediction/Churn_Modelling.csv')

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.shape

(10000, 14)

In [5]:
# we will notice here is 10K row and 4 columns
df.head(1)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.0,1,1,1,101348.88,1

# let see the columns 
# the first columns is **RowNumber** :- here is uniue row number of that customer but if think right now i dont think it Usefull for me .
# coluns 2 it woud me customerID :- our goal to predict how many how many customer stay in bank or leave bank predict 
# surname :- so in this perticulra columns they store the sir name of customer what you thinks it usefull umm surname let condier for now
# creditScore :_ in this feature /colums of dataset in this perticular columns we have creadit card
# new columns is Geography :- here is mention waht geography therey are from like in that colums  mention country we can say .
# age :- this columns you might we used as feature how logic you think in your mind that depand 
# Balence :- here it metnin exectly how much balance in that accuound this migth be helpfull if  used dont have good budget may be it help deep learnig model to predit 
# NumberofProduct :- in this columns it mention how many bank product that customer is using in your mind defintly pop up code ummm ..number of  PRoduct what do you mena ...its like creadit card , dabit card etc kind of product 

isActiveMenebert : - here many be mentiio kuej

In [6]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
# in this perticular dataset we see 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [8]:
df.duplicated().sum()

0

In [9]:
df.sample(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
5836,5837,15617419,Roberts,618,Germany,Female,29,10,100315.10,2,1,1,32526.64,0
8128,8129,15682928,Chiazagomekpere,695,Spain,Male,39,4,65521.20,1,1,1,1243.97,0
4322,4323,15681697,Rueda,508,France,Male,31,8,72541.48,1,1,0,129803.08,0
2538,2539,15752838,Lucas,723,Spain,Male,38,6,0.00,2,1,1,94415.60,0
9549,9550,15772604,Chiemezie,578,Spain,Male,36,1,157267.95,2,1,0,141533.19,0
1410,1411,15710164,P'eng,523,France,Female,73,7,0.00,2,0,0,130883.90,1
7693,7694,15602043,Buccho,770,Germany,Female,46,5,141788.63,2,0,0,164967.21,0
4577,4578,15703979,Evans,580,Germany,Male,39,3,119688.81,1,1,0,137041.26,0
6734,6735,15723318,Mactier,619,France,Female,55,0,0.00,3,0,0,60810.64,1
646,647,15730830,Dale,752,France,Female,30,3,0.00,2,1,1,104991.28,0

In [10]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [11]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [12]:
# let see how many customer existe in bank and how many leave the bank 
df['Exited'].value_counts

#sns.pie(df['Exited']_value_counts())

<bound method IndexOpsMixin.value_counts of 0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64>

# we will notics here is
7963 people accound existe in pank 
and 
1. **2037** peole exited the bank or remove arround from the bank

# here we will see in Geography that we have mutplitiple  category 
like France , Germany and Spain.

In [13]:
df.sample(1)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
4490,4491,15792646,Trentino,647,Spain,Female,64,1,91216.0,1,1,1,41800.18,0

# Now on that columnes where we haave categrical data
# i convert that data into numcial 
# eocing need so i apply one hot encoding
# on columns if you dont to apply one hont encoding use used function name 
pd.get_dummies()

In [14]:
df.shape

(10000, 14)

In [15]:
df = pd.get_dummies(df, columns=['Gender', 'Geography'], drop_first=True)

In [16]:
df

,RowNumber,CustomerId,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,1,15634602,Hargrave,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,2,15647311,Hill,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,3,15619304,Onio,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,4,15701354,Boni,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,5,15737888,Mitchell,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,9997,15569892,Johnstone,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,9998,15584532,Liu,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,9999,15682355,Sabbatini,772,42,3,75075.31,2,1,0,92888.52,1,1,1,0
9999,10000,15628319,Walker,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [17]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'])

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,1,0
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [18]:
df

,RowNumber,CustomerId,Surname,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,1,15634602,Hargrave,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,2,15647311,Hill,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,3,15619304,Onio,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,4,15701354,Boni,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,5,15737888,Mitchell,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,9997,15569892,Johnstone,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,9998,15584532,Liu,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,9999,15682355,Sabbatini,772,42,3,75075.31,2,1,0,92888.52,1,1,1,0
9999,10000,15628319,Walker,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [19]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'] , inplace = True )

In [20]:
df.head(4)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0

In [21]:
df.head(2)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1

In [22]:
# let decide input and output

x = df.drop(columns=['Exited'])
y = df['Exited']

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test , y_train , y_test = train_test_split(x , y, test_size = 0.2 , random_state = 42 )

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_trf = scaler.fit_transform(x_train)
X_test_trf = scaler.transform(x_test)

In [25]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential 
from tensorflow.keras.layers import Dense

In [26]:
model = Sequential()

In [27]:

model.add(Dense(11,activation='relu',input_dim=11))
model.add(Dense(11,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 11)                132
_________________________________________________________________
dense_1 (Dense)              (None, 11)                132
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 12
=================================================================
Total params: 276
Trainable params: 276
Non-trainable params: 0
_________________________________________________________________

In [29]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [30]:
history = model.fit(x_train,y_train,batch_size=50,epochs=200,verbose=1,validation_split=0.2)

Epoch 1/200
128/128 [==============================] - 1s 5ms/step - loss: 0.6589 - accuracy: 0.6186 - val_loss: 0.5876 - val_accuracy: 0.6906
Epoch 2/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5569 - accuracy: 0.7437 - val_loss: 0.5212 - val_accuracy: 0.7987
Epoch 3/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5195 - accuracy: 0.7934 - val_loss: 0.5078 - val_accuracy: 0.7987
Epoch 4/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5139 - accuracy: 0.7934 - val_loss: 0.5053 - val_accuracy: 0.7987
Epoch 5/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5103 - accuracy: 0.7934 - val_loss: 0.5001 - val_accuracy: 0.7987
Epoch 6/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5121 - accuracy: 0.7934 - val_loss: 0.4989 - val_accuracy: 0.7987
Epoch 7/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5091 - accuracy: 0.7934 - val_loss: 0.4951 - val_accuracy: 0.7987
Epoch 8/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5074 - accuracy: 0.7934 - val_loss: 0.4941 - val_accuracy: 0.7987
Epoch 9/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5069 - accuracy: 0.7934 - val_loss: 0.4953 - val_accuracy: 0.7987
Epoch 10/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5051 - accuracy: 0.7934 - val_loss: 0.4947 - val_accuracy: 0.7987
Epoch 11/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5048 - accuracy: 0.7934 - val_loss: 0.4950 - val_accuracy: 0.7987
Epoch 12/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5046 - accuracy: 0.7934 - val_loss: 0.4948 - val_accuracy: 0.7987
Epoch 13/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5049 - accuracy: 0.7934 - val_loss: 0.4943 - val_accuracy: 0.7987
Epoch 14/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5068 - accuracy: 0.7934 - val_loss: 0.5011 - val_accuracy: 0.7987
Epoch 15/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5102 - accuracy: 0.7934 - val_loss: 0.4999 - val_accuracy: 0.7987
Epoch 16/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5098 - accuracy: 0.7934 - val_loss: 0.4989 - val_accuracy: 0.7987
Epoch 17/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5075 - accuracy: 0.7934 - val_loss: 0.4973 - val_accuracy: 0.7987
Epoch 18/200
128/128 [==============================] - 0s 4ms/step - loss: 0.5062 - accuracy: 0.7934 - val_loss: 0.4963 - val_accuracy: 0.7987
Epoch 19/200
128/128 [==============================] - 1s 4ms/step - loss: 0.5056 - accuracy: 0.7934 - val_loss: 0.4953 - val_accuracy: 0.7987
Epoch 20/200
128/128 [==============================] - 1s 4ms/step - loss: 0.5052 - accuracy: 0.7934 - val_loss: 0.4969 - val_accuracy: 0.7987
Epoch 21/200
128/128 [==============================] - 0s 4ms/step - loss: 0.5078 - accuracy: 0.7934 - val_loss: 0.4994 - val_accuracy: 0.7987
Epoch 22/200
128/128 [==============================] - 0s 4ms/step - loss: 0.5084 - accuracy: 0.7934 - val_loss: 0.5019 - val_accuracy: 0.7987
Epoch 23/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5092 - accuracy: 0.7934 - val_loss: 0.5019 - val_accuracy: 0.7987
Epoch 24/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5088 - accuracy: 0.7934 - val_loss: 0.5027 - val_accuracy: 0.7987
Epoch 25/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5088 - accuracy: 0.7934 - val_loss: 0.5016 - val_accuracy: 0.7987
Epoch 26/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5079 - accuracy: 0.7934 - val_loss: 0.4990 - val_accuracy: 0.7987
Epoch 27/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5056 - accuracy: 0.7934 - val_loss: 0.4960 - val_accuracy: 0.7987
Epoch 28/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5058 - accuracy: 0.7934 - val_loss: 0.4951 - val_accuracy: 0.7987
Epoch 29/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5053 - accuracy: 0.7934 - val_loss: 0.4942 - val_accuracy: 0.7987
Epoch 30/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5050 - accuracy: 0.7934 - val_loss: 0.4944 - val_accuracy: 0.7987
Epoch 31/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5041 - accuracy: 0.7934 - val_loss: 0.4940 - val_accuracy: 0.7987
Epoch 32/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5044 - accuracy: 0.7934 - val_loss: 0.4949 - val_accuracy: 0.7987
Epoch 33/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5052 - accuracy: 0.7934 - val_loss: 0.4948 - val_accuracy: 0.7987
Epoch 34/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5058 - accuracy: 0.7934 - val_loss: 0.4945 - val_accuracy: 0.7987
Epoch 35/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5054 - accuracy: 0.7934 - val_loss: 0.4932 - val_accuracy: 0.7987
Epoch 36/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5041 - accuracy: 0.7934 - val_loss: 0.4912 - val_accuracy: 0.7987
Epoch 37/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5037 - accuracy: 0.7934 - val_loss: 0.4927 - val_accuracy: 0.7987
Epoch 38/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5051 - accuracy: 0.7934 - val_loss: 0.4968 - val_accuracy: 0.7987
Epoch 39/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5053 - accuracy: 0.7934 - val_loss: 0.4950 - val_accuracy: 0.7987
Epoch 40/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5047 - accuracy: 0.7934 - val_loss: 0.4942 - val_accuracy: 0.7987
Epoch 41/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5039 - accuracy: 0.7934 - val_loss: 0.4950 - val_accuracy: 0.7987
Epoch 42/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5035 - accuracy: 0.7934 - val_loss: 0.4956 - val_accuracy: 0.7987
Epoch 43/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5048 - accuracy: 0.7934 - val_loss: 0.4917 - val_accuracy: 0.7987
Epoch 44/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5030 - accuracy: 0.7934 - val_loss: 0.4923 - val_accuracy: 0.7987
Epoch 45/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4931 - val_accuracy: 0.7987
Epoch 46/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5029 - accuracy: 0.7934 - val_loss: 0.4935 - val_accuracy: 0.7987
Epoch 47/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5027 - accuracy: 0.7934 - val_loss: 0.4927 - val_accuracy: 0.7987
Epoch 48/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5030 - accuracy: 0.7934 - val_loss: 0.4913 - val_accuracy: 0.7987
Epoch 49/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5030 - accuracy: 0.7934 - val_loss: 0.4913 - val_accuracy: 0.7987
Epoch 50/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5033 - accuracy: 0.7934 - val_loss: 0.4923 - val_accuracy: 0.7987
Epoch 51/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5030 - accuracy: 0.7934 - val_loss: 0.4924 - val_accuracy: 0.7987
Epoch 52/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5029 - accuracy: 0.7934 - val_loss: 0.4922 - val_accuracy: 0.7987
Epoch 53/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5028 - accuracy: 0.7934 - val_loss: 0.4922 - val_accuracy: 0.7987
Epoch 54/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5028 - accuracy: 0.7934 - val_loss: 0.4922 - val_accuracy: 0.7987
Epoch 55/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5027 - accuracy: 0.7934 - val_loss: 0.4920 - val_accuracy: 0.7987
Epoch 56/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5026 - accuracy: 0.7934 - val_loss: 0.4920 - val_accuracy: 0.7987
Epoch 57/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5025 - accuracy: 0.7934 - val_loss: 0.4921 - val_accuracy: 0.7987
Epoch 58/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5025 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 59/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5025 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 60/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 61/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4920 - val_accuracy: 0.7987
Epoch 62/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 63/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4920 - val_accuracy: 0.7987
Epoch 64/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 65/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 66/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5025 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 67/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 68/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 69/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 70/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 71/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 72/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 73/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 74/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 75/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 76/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 77/200
128/128 [==============================] - 0s 4ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 78/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 79/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 80/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 81/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 82/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 83/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 84/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 85/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 86/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 87/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 88/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 89/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 90/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 91/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4920 - val_accuracy: 0.7987
Epoch 92/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 93/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 94/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 95/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 96/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 97/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 98/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 99/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 100/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 101/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 102/200
128/128 [==============================] - 0s 4ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4920 - val_accuracy: 0.7987
Epoch 103/200
128/128 [==============================] - 1s 4ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4920 - val_accuracy: 0.7987
Epoch 104/200
128/128 [==============================] - 1s 4ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 105/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 106/200
128/128 [==============================] - 0s 4ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 107/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 108/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 109/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 110/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 111/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 112/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 113/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 114/200
128/128 [==============================] - 0s 4ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 115/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4917 - val_accuracy: 0.7987
Epoch 116/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 117/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 118/200
128/128 [==============================] - 0s 4ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 119/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 120/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4920 - val_accuracy: 0.7987
Epoch 121/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 122/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 123/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4920 - val_accuracy: 0.7987
Epoch 124/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 125/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 126/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4921 - val_accuracy: 0.7987
Epoch 127/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5024 - accuracy: 0.7934 - val_loss: 0.4919 - val_accuracy: 0.7987
Epoch 128/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4920 - val_accuracy: 0.7987
Epoch 129/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 130/200
128/128 [==============================] - 0s 4ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4918 - val_accuracy: 0.7987
Epoch 131/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4917 - val_accuracy: 0.7987
Epoch 132/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5025 - accuracy: 0.7934 - val_loss: 0.4911 - val_accuracy: 0.7987
Epoch 133/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4909 - val_accuracy: 0.7987
Epoch 134/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4911 - val_accuracy: 0.7987
Epoch 135/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5022 - accuracy: 0.7934 - val_loss: 0.4912 - val_accuracy: 0.7987
Epoch 136/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5022 - accuracy: 0.7934 - val_loss: 0.4916 - val_accuracy: 0.7987
Epoch 137/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5021 - accuracy: 0.7934 - val_loss: 0.4913 - val_accuracy: 0.7987
Epoch 138/200
128/128 [==============================] - 0s 3ms/step - loss: 0.5023 - accuracy: 0.7934 - val_loss: 0.4911 - val_accuracy: 0.7987
Epoch 139/200

In [31]:
y_log = model.predict(x_test)

In [32]:
y_pred = np.where(y_log >0.5 , 1 , 0)

In [33]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test , y_pred )

0.8035

In [34]:
# we will see the acuureacy of out current model is 80% based on data they instally make feature